{% extends "base.html" %}

{% block content %}

<div>
  <h1>Admin Page</h1>
  <h2>Click each button to show the inputs for that functionality</h2>
</div>

<div>
<h4>Product Data</h4>
<button data-toggle="collapse" data-target="#create-product-text">Create Product</button>
<div id="create-product-text" class="collapse">
    <form method="post" action="{{ url_for('create_product_submitted_form') }}" enctype="multipart/form-data">
        <div class="form-group">
            <label for="title">Title</label>
            <input type="text" name="title" class="form-control" required>
        </div>
        <div class="form-group">
            <label for="description">Description</label>
            <textarea type="text" name="description" class="form-control" required></textarea>
        </div>
        <div class="form-group">
            <label for="pricePerUnit">Price Per Unit</label>
            <input type="number" step="0.01" name="pricePerUnit" class="form-control" required>
        </div>
        <div class="form-group">
            <label for="qty">Quantity</label>
            <input type="number" name="qty" class="form-control" required>
        </div>
        <div class="form-group">
            <label for="tags">Tags as a comma separate list, no spaces, a-z only, 1 tag minimum</label>
            <input name="tags" pattern="[a-z]+|([a-z]+,)+[a-z]+" class="form-control" required>
        </div>
        <div class="form-group">
            <label for="image">Image Upload</label>
            <input name="image" type="file" class="form-control" accept="image/jpeg" required>
        </div>
        <button type="submit" class="btn btn-default">Submit</button>
    </form>
</div><br />
<button data-toggle="collapse" data-target="#delete-product-text">Delete Product</button>
<div id="delete-product-text" class="collapse">
    <form method="post" action="{{ url_for('delete_product_submitted_form') }}">
        <label for="id">ID:</label>
        <input type="text" name="id"><br />
        <input type="submit">
    </form>
</div><br />
</div>

{% endblock %}