{% extends "base.html" %}

{% block content %}

  <div class="starter-template">
    <h1>Welcome to BTEC Furniture </h1>
    <p class="lead">Where your furniture just does the job</p>
  </div>

  <div class="container">

    {% for row in product_info %}
      <div class="row justify-content-center" style="padding: 5px;">
        {% for product in row %}
          <div class="col-4">
            <div class="card">
              <img class="card-img-top" src="https://d.newsweek.com/en/full/1524152/cadbury-chocolate.jpg" alt="Card image cap">
              <div class="card-body">
                <h5 class="card-title">{{product.title}}</h5>
                <p class="card-text">£{{product.pricePerUnit}}</p>
                <p class="card-text">{{product.description[0:100]}}...</p>
                <a href="#" class="btn btn-primary">Add</a>
              </div>
            </div>
          </div>
        {% endfor %}
      </div>
    {% endfor %}

  </div>  

{% endblock %}