{% extends "base.html" %}

{% block content %}

<h1>Login using Google below</h1>

<!-- The firebase login box (controls it self) -->
<div id="firebaseui-auth-container"></div>

<!-- The hidden tag is controlled from the script.js file -->
<button id="sign-out" hidden=true>Sign Out</button>
<div id="login-info" hidden=true>
<h2>Login info:</h2>
    {% if user_data %}
        {% block authenticatedContent %}
            <h3>You've been authenticated!</h3>
            <p>Here's some of the details we have on you:</p>
            <ul>
                <li>Name: {{ user_data['name'] }}</li>
                <li>Email: {{ user_data['email'] }}</li>
            </ul>
        {% endblock %}
    {% elif error_message %}
        {% block unauthenticatedContent %}
            <p>Error: {{ error_message }}</p>
        {% endblock %}
    {% endif %}
</div>

<script src="https://www.gstatic.com/firebasejs/8.9.0/firebase-app.js"></script>
<script src="https://www.gstatic.com/firebasejs/8.9.0/firebase-auth.js"></script>
<script src="https://www.gstatic.com/firebasejs/8.9.0/firebase-analytics.js"></script>

<script>
// Your web app's Firebase configuration
    var firebaseConfig = {
        apiKey: "AIzaSyC74dkaS3IJyIEX1kPhlCj9nk2IjXCFxMw",
        authDomain: "synthetic-cargo-328708.firebaseapp.com",
        projectId: "synthetic-cargo-328708",
        storageBucket: "synthetic-cargo-328708.appspot.com",
        messagingSenderId: "986352342380",
        appId: "1:986352342380:web:81571148d8681c150fcf49",
        measurementId: "G-9QHB47N9FV"
    };
    // Initialize Firebase
    firebase.initializeApp(firebaseConfig);
    firebase.analytics();
</script>

{% endblock %}