{% extends "base.html" %}

{% block content %}
<div>
    <div>
    <h1>Product created</h1>
    </div>
    <div>
    <p>Here's a review of the information that you sent:</p>
    <p>
        <strong>Title</strong>: {{title}} <br>
        <strong>description</strong>: {{description}} <br>
        <strong>pricePerUnit</strong>: {{pricePerUnit}} <br>
        <strong>qty</strong>: {{qty}} <br>
        <strong>ImageID</strong>: {{imageID}} <br>
        <strong>tags</strong>: {{tags}} <br>
        <strong>Server Response</strong>: {{response}}
    </p>
    </div>
</div>

{% endblock %}
